:root{
    --opposite: #212121;
    --theme: #212121;
    --main-color: #ecebeb;
    --secondary-color: #c5c3c3;
    --background-color: #FFFFFF;
    --text-color: rgb(78, 78, 78);
}

img{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-all{
    max-width: 1920px;
    margin: 0 auto;
    background-color: white;
}

.fluid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Outfit";
}

.loading-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading{
    color: var(--text-color);

}
/* Header Styling */

.header{
    color: green;
}

.header-div{
    background-color: var(--theme);
    border: 1px solid var(--theme);
    padding: 10px;
    color: white;
}

.nav-link{
    color: white !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--secondary-color) !important;
}

.nav-link:focus, .nav-link:hover{
    color: white !important;
}
.nav-item{
    color: white !important;
}

.navbar-toggler{
    background-color: white !important;
}


.navbar-brand{
    color: white !important;
}

.navbar-brand:hover, .nav-link:hover{
    color: grey !important;
}

.navbar-container{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
}

/* Footer Styling*/

.footer{
    background-color: #212121;
    padding: 20px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home Page Styling */

.home-img{
    width: 100%;
    background-size: contain;
    height: 80%;
}

.home-description{
    text-align: center;
    color: black;
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-header{
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.anchor-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.study-anchor, .random-anchor{
    margin: 15px;
}



.homebox{
    width: 100%;
    background-color: white;
    padding: 7% 0px;
    margin: 8% auto;
    color: var(--text-color);
}

.home-anchor{
    color: white;
    text-decoration: none;
}

.home-container{
    width: 90%;
    margin: auto;
    margin-top: 10vh;
}

@media(min-width: 992px){
    .left{
        padding-right: 8vw;
    }

    .right{
        padding-left: 8vw;
    }

    .home-description{
        width: 80%;
        margin: auto;
    }
}

.page-heading{
    color: black;
    margin: 40px 5%;

}

.big{
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}

.small{
    width: 90%;
}

@media (max-width: 1000px){
    .big, .small{
        width: 80%;
    }

    .page-heading{
        text-align: center;
    }
}



.home-title{
    padding: 5%
}

.home-desc{
    padding: 5%;
}

.play-button{
    background-color: #0f8a17;
    border-radius: 5px;
    border: 0px;
    text-decoration: none;
    color: white;
    padding: 7px 12px;
    margin: 20% 0% 20% 5%;
}

.play-button:hover{
    cursor: pointer;
    background-color: #0a5c10;
}

/* Study Page Styling */

.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 25px;
    margin-right: 50px;
}

@media(max-width: 767px){
    .filter-container{
        width: 100%;
        justify-content: center;
    }
}

.filter{
    display:flex;
}

.filter-select{
    background-color: var(--opposite);
    color: var(--background-color);
    height: 30px;
    border: 1px solid ;
    padding-left: 0px 20px;
    border-radius: 4px;
}

.filter-text{
 margin: auto 10px;
 color: var(--opposite);
}


.study-container{
    width: 90%;
    border: 0px;
    margin: 20px auto;
    padding-bottom: 1px;
}

.study-text{
    padding: 2px 15px;
}

.study-name{
    font-size: 24px;
    color: var(--text-color);
    padding-top: 5%;
}


/* Higher Lower Styling */

.game-over-text{
    text-align: center;
}

.game-over{
    padding-top: 25px;
    text-align: center;
    color: #ff4d4d;
}

.highscores{
    text-align: center;
}

.population-reveal{
    font-size: 20px;
    color: var(--text-color);
}

.gold{
    color: #ffcc00;
    font-size: 24px;
}

.silver{
    color: #b4b4c5;
    font-size: 20px;
}

.bronze{
    color: #996600;
    font-size: 18px;
}

.result-box{
    margin: 50px 0px;
    width: 65%;
    margin: 0px auto;
    border: 1px solid white;
}

.hl-text {
    color: var(--text-color);
    text-align: center;
}

.hl-image{
    width: 80%;
    margin: 0px 10%;
}

.hl-image:hover{
    cursor: pointer;
    opacity: 50%;
}

@media(max-width: 767px){
    .hl-image:hover{
        opacity: 100%;
    }
}

.hl-container{
    margin-top: 25px;
}

.hl-whole{
    width: 80%;
}

.hl-box{
    border: 0px;
    padding-top: 50px;
}

.score-text{
    text-align: center;
    padding: 50px;
}

.retry{
    margin: 50px;
}

.retry-button{
    border-radius: 5px;
    border: 0px;
    padding: 7px 12px;
    background-color: #1aa3ff;
    color: white;
}

.button-container{
    text-align: center;
    margin: 50px;
}

.between-text{
    margin: 50px;
    text-align: center;
}

.question{
    text-align: center;
    padding-bottom: 15px;
}

.score{
    color: #24b624;
}

.score-text{
    color: var(--text-color);
    padding-top: 5px;
}

.highscore-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.highscore{
    margin: 10px;
}

/* Capitals Styling and Flags Styling */

.capital-container{
    margin: 10%;
    width: 80%;
    padding: 5%;
    padding-top: 0px;
    border: 1px solid white;
}

.completed-div{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.final-score{
    color: var(--text-color);
}

.whole{
    width: 100%;
}

.capital-answer{
    color: var(--text-color);
    font-size: 20px;
}

.input-box{
    margin-left: 10%;
}

.capital-progress{
    margin-top: 20px;
}

.capital-showing, .capital-question{
    padding: 4%;
    padding-left: 0px;
}

.capital-showing{
    text-align: center;
    color: var(--text-color);
}

.capital-button{
    border: 0px;
    border-radius: 5px;
    background-color: #1aa3ff;
    font-size: 14px;
    padding: 7px 12px;
    width: 27%;
    color: white;
    margin-left: 5%;
}

.correct{
    color: green;
}

.wrong{
    color: red;
}

.flag-container{
    width: 80%;
    margin: 10%;
}

.capital-input{
    width: 60%;
}

/* Locations Styling */

.map{
    padding-left: 5%;
    padding-bottom: 5%;
    height: 80vh;
    width: 100%;
    max-height: 800px;
}



.location-question-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Correct{
    color:#24b624;
    margin-bottom: 25px;
}

.Incorrect{
    color: #ff4d4d;
    margin-bottom: 25px;
}

.clear{
    opacity: 0%;
    margin-bottom: 25px;
}

@media(max-width: 766px){
    .map{
        width: 75%;
        height: 60vh;
        padding-left: 0px;
    }

    .map-container{
        margin-top: 25px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media(max-width: 500px){
        .map{
            height: 50vh;
            width: 100%;
        }
    }
}


/* API Docs Styling */

.title{
    margin-top: 20px;
    margin-left: 50px;
}

th, td, table{
    border: 1px solid white;
    padding: 5px 10px;
}

.link-div{
    border-right: 1px solid black;
    margin: 15%;
}

@media (max-width: 768px){
    .link-div{
        border: 0px;
    }
}

.link-box{
    margin-bottom: 25px;
}

.api-link{
    color: var(--text-color);
    text-decoration: none;
}

.row{
    width: 100%;
    margin:0px;
}

.all-features{
    margin: 0px 7%;
    height: 100%;
}

.all-features-div{
    height: 70vh;
    overflow: auto;
    margin-bottom: 25px;
}

.all-features-div::-webkit-scrollbar-thumb{
    background-color: var(--text-color);
}

.all-features-div::-webkit-scrollbar{
    width: 10px;
    background-color: var(--main-color);
}

.feature-div{
    margin: 7% 25px;
}

.topic-header{
    color: var(--text-color);
    margin-bottom: 15px;
}

.api-title{
    color: var(--text-color);
}

